/* 768px-481px */
@media (max-width: 480px) {
  header {
    padding-inline: 8px;
  }
  /* ------------------section-1-------------------- */
  .section-1 {
    height: 320px;
  }
  span {
    font-size: 32px;
    line-height: 40px;
  }

  /* ------------------section-2-------------------- */
  .section-2 {
    padding-right: 8px;
    row-gap: 24px;
  }
  .section-2-title {
    font-size: 24px;
    line-height: 32px;
  }
  /* -------------- footer----------- */
  footer {
    padding: 24px 154px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .footer-brands{
    align-items: center;
  } 
  .footer-pages {
    align-items: center;
  }
  .footer-address-and-social-media-container{
    align-items: center;
  }
  address{
    align-items: center;
  }
}
