/* 768px-481px */
@media (max-width: 480px) {
  header {
    padding-inline: 8px;
  }
  /* ------------------section-1-------------------- */
  .section-1 {
    height: 320px;
    padding-block: 60px 220px;
  }
  span {
    font-size: 32px;
    line-height: 40px;
  }

  /* ------------------section-2-------------------- */
  .section-2 {
    padding-left: 8px;
    row-gap: 24px;
  }
  .section-2-title {
    font-size: 24px;
    line-height: 32px;
  }
  .section-2-article-card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 260px;
    flex: 1 0 260px;
  }
  /* -------------- footer----------- */
  footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 24px 154px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .footer-brands {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-pages {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-address-and-social-media-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  address {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
